[Unit]
Description=Teslatar
After=network.target

[Service]
ExecStart=/usr/bin/python -u teslatar.py
WorkingDirectory=/home/pi/dev/teslatar
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
